---
import ProjectCard from "@/components/ProjectCard.astro";
import BasePage from "@/layouts/BasePage.astro";
import { getCollection } from "astro:content";
const project = await getCollection("project");
---

<BasePage title="Mes projets" description="Quelques projets sur lesquels j'ai travaillé">
  <section>
    <h1>Projects</h1>
    <div class="project-container">
      {project.map((data) => <ProjectCard {...data} />)}
    </div>
  </section>
</BasePage>
  <style lang="scss">
    @use "../../styles/media-query" as *;

    section{
      padding: 1rem 2.5rem;
      @include breakpoint(tablet){
        padding: 2rem 5rem;
      }
      h1{
        margin-bottom: 1rem;
      }
    }
    .project-container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      }
    }
  </style>
