---
import { t } from "i18next";
import { SocialLinks } from "@/components/astro";
import { getMe } from "@/schema";

const footer = (path: string) => t(`component.footer.${path}`);
const form = (path: string) => t(`component.footer.form.${path}`);

const today = new Date();
const mySocials = (await getMe()).socials;
---

<footer>
  <section id="contact">
    <div id="contact-links">
      <label> {footer("contact_list")} </label>
      <SocialLinks {...mySocials} />
    </div>
    <div>
      <!-- @ts-expect-error netlify is not a native html attribute ! -->
      <form id="contact-form" netlify name="contact" method="POST">
        <div>
          <label for="email"> {form("email")}</label>
          <input
            id="email"
            name={form("email")}
            type="email"
            required
            placeholder="john.doe@gmail.com"
          />
        </div>
        <div>
          <label for="message">{form("message")}</label>
          <textarea
            name={form("message")}
            id="message"
            rows="5"
            cols="33"
            required></textarea>
        </div>
        <button class="button primary" data-state="normal">
          <span id="submit-message"> {form("cta")} </span>
          <span id="submit-loading"> {form("state.loading")} </span>
          <span id="submit-success"> {form("state.success")} </span>
          <span id="submit-error"> {form("state.error")} </span>
        </button>
      </form>
    </div>
  </section>
  <section id="copyright">
    &copy; {today.getFullYear()}
    {footer("copyright")}
  </section>
</footer>
<style lang="scss">
  @use "~/media-query" as *;

  footer {
    background-color: var(--neutral-300);
    margin-top: auto;
    padding-top: 1.5rem;
  }

  label {
    font-family: "JetBrainsMono", monospace;
    display: block;
    font-size: var(--font-h3);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    #submit-message,
    #submit-loading,
    #submit-success,
    #submit-error {
      display: none;
    }

    &[data-state="normal"] {
      #submit-message {
        display: inline;
      }
    }

    &[data-state="loading"] {
      #submit-loading {
        display: inline;
      }
    }
    &[data-state="success"] {
      #submit-success {
        display: inline;
      }
    }

    &[data-state="error"] {
      #submit-error {
        display: inline;
      }
    }
  }

  #contact {
    div {
      margin-block-end: 1rem;
    }
    max-width: 940px;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block-end: 1rem;
    @include breakpoint(tablet) {
      display: flex;
      flex-grow: 0.5;
      justify-content: space-between;
    }
  }

  #copyright {
    background-color: var(--neutral-700);
    color: var(--neutral-100);
    text-align: center;
  }
</style>
<script>
  function handleSubmit(event: SubmitEvent) {
    event.preventDefault();
    const myForm = event.target as HTMLFormElement;
    const submitButton = myForm?.querySelector("button");
    if (myForm === null || submitButton === undefined || submitButton === null)
      return;
    const formData = new FormData(myForm);
    submitButton.dataset.state = "loading";
    submitButton.disabled = true;
    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      // @ts-expect-error this is form netlify docs ?
      body: new URLSearchParams(formData).toString(),
    })
      .then((response) => {
        if (!response.ok) throw Error();
        submitButton.disabled = false;
        submitButton.dataset.state = "success";
        setTimeout(() => (submitButton.dataset.state = "normal"), 3 * 1000);
      })
      .catch(() => {
        submitButton.disabled = false;
        submitButton.dataset.state = "error";
        setTimeout(() => (submitButton.dataset.state = "normal"), 3 * 1000);
      });
  }

  document
    .getElementById("contact-form")
    ?.addEventListener("submit", handleSubmit);
</script>
