---
import { NAVIGATION_LINKS } from "@/consts";
import HeaderLink from "./HeaderLink.astro";
---

<nav id="sidebar" transition:name="sidebar">
  <div class="links">
    {
      NAVIGATION_LINKS.map(({ link, title }) => (
        <HeaderLink
          transition:name={`sidebar-links-${title}`}
          href={link}
          title={title}
        />
      ))
    }
  </div>
</nav>
<div class="backdrop" id="sidebar-backdrop" transition:name="sidebar-backdrop"></div>
<style lang="scss">
  @use "~/media-query" as *;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--neutral-100);
    position: fixed;
    z-index: var(--z-index-sidebar);
    top: -10rem;
    width: 100%;

    transition: top 0.3s ease-in-out;
    @include breakpoint(tablet) {
      display: none !important;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 1rem;
      font-size: 1.25rem;
    }
    .backdrop {
      transition: bottom 0.1s ease-in-out;
    }

    &.show {
      top: var(--navbar-height);

      & + .backdrop {
        position: fixed;
        background-color: var(--neutral-700);
        opacity: 70%;
        inset: var(--navbar-height) 0 0 0;
        content: "";
        z-index: var(--z-index-sidebar-backdrop);
      }
    }
  }
</style>
