@use "media-query" as *;

@font-face {
  font-family: "Space Grotesk";
  font-display: swap;
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Space Grotesk";
  font-display: swap;
  src: url("/fonts/SpaceGrotesk.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("/fonts/Rubik.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("/fonts/Rubik-Italic.woff2") format("woff2");
  font-style: italic;
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --black: #000;
  --white: #fff;

  // tailwind colors zinc
  --neutral-50: #fafafa;
  --neutral-100: #f4f4f5;
  --neutral-200: #e4e4e7;
  --neutral-300: #d4d4d8;
  --neutral-400: #a1a1aa;
  --neutral-500: #71717a;
  --neutral-600: #52525b;
  --neutral-700: #3f3f46;
  --neutral-800: #27272a;
  --neutral-900: #18181b;
  --neutral-950: #09090b;

  // tailwind colors blue
  --primary-50: #eff6ff;
  --primary-100: #dbeafe;
  --primary-200: #bfdbfe;
  --primary-300: #93c5fd;
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a;
  --primary-950: #172554;

  // tailwind colors purple
  --accent-50: #faf5ff;
  --accent-100: #f3e8ff;
  --accent-200: #e9d5ff;
  --accent-300: #d8b4fe;
  --accent-400: #c084fc;
  --accent-500: #a855f7;
  --accent-600: #9333ea;
  --accent-700: #7e22ce;
  --accent-800: #6b21a8;
  --accent-900: #581c87;
  --accent-950: #3b0764;

  // typescale major second
  --font-h1: 2.027em;
  --font-h2: 1.802em;
  --font-h3: 1.602em;
  --font-h4: 1.424em;
  --font-h5: 1.266em;
  --font-h6: 1.125em;
  --font-body: 1em;
  --font-caption: 0.889em;
  --font-tiny: 0.79em;

  --z-index-header: 4;

  --z-index-sidebar: 3;

  --z-index-sidebar-backdrop: 2;

  --z-index-project-actions: 1;
  --z-index-project-filter: 1;

  --shadow-sm: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

  --radius-sm: 1rem;

  --navbar-height: 4rem;

  @include breakpoint(tablet) {
    // typescale major third
    --font-h1: 3em;
    --font-h2: 3.052em;
    --font-h3: 2.441em;
    --font-h4: 1.953em;
    --font-h5: 1.563em;
    --font-h6: 1.25em;
    --font-caption: 0.8em;
    --font-tiny: 0.64em;

    @include breakpoint(tablet) {
      --navbar-height: 6rem;
    }
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--navbar-height, 5rem);
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: left;
  background: linear(var(--neutral-50), var(--neutral-100));
  accent-color: var(--accent-600);
  interpolate-size: allow-keywords;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.7;

  @include breakpoint(tablet) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  text-wrap: balance;
  font-family: "Space Grotesk", sans-serif;
  color: rgb(var(--black));
  line-height: 1.2;
}

h1 {
  font-size: var(--font-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--font-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--font-h3);
  font-weight: 700;
}

h4 {
  font-size: var(--font-h4);
}

h5 {
  font-size: var(--font-h5);
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent-600);

  &:hover,
  &:focus {
    color: var(--accent-400);
  }

  &:active {
    color: var(--accent-800);
  }
}

p {
  margin-bottom: 1em;

  .prose & {
    margin-bottom: 2em;
  }
}

ul {
  margin: 0;
  margin-bottom: 0.5;
  padding: 0;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

textarea {
  width: 100%;
  font-size: var(--font-body);
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;

  & > code {
    all: unset;
  }
}

blockquote {
  border-left: 4px solid var(--accent-700);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--neutral-600));
}

input {
  font-size: var(--font-body);
  height: 36px;
  &[type="checkbox"] {
    height: auto;
    box-shadow: inset 1px 1px 2px 0px var(--accent-200),
      inset -1px -1px 2px 0px var(--accent-200);
  }
}

input,
textarea {
  background-color: rgb(250, 251, 252);
  border-color: rgb(223, 225, 230);
  color: rgb(9, 30, 66);
  cursor: text;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  line-height: 1.42857;
  padding: 8px 6px;

  &:hover {
    background-color: rgb(235, 236, 240);
  }

  &:focus {
    background-color: rgb(255, 255, 255);
    outline-color: var(--accent-600);
  }
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.25em 0.75em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

@view-transition {
  navigation: auto;
}

[popover],
dialog,
::backdrop {
  transition: display 1s allow-discrete, overlay 1s allow-discrete, opacity 1s;
  opacity: 0;
}

:popover-open,
:popover-open::backdrop,
[open],
[open]::backdrop {
  opacity: 1;
}

summary {
  cursor: pointer;
  &::marker,
  &::-webkit-details-marker {
    content: "";
    display: none;
  }
}

::details-content {
  height: 0;
  overflow: clip;
  transition: height 0.3s ease-out, content-visibility 0.5s ease allow-discrete;
}

[open]::details-content {
  height: auto;
}

details[open] summary + * {
  animation: animateDown 0.2s linear forwards;
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translatey(-15px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.hide-scroll {
  scrollbar-width: none;
}

.icon-button {
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover {
    color: var(--accent-600);
  }

  &:active {
    color: var(--accent-700);
  }

  @at-root {
    a#{&} {
      color: black;
      text-decoration: none;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 10px;
  border: 0;
  transition: all 0.3s ease;
  letter-spacing: 1.5px;
  cursor: pointer;
  background-color: var(--bg-color);
  box-shadow: var(--shadow-color) 0px 10px 0px 0px;
  color: var(--text-color);

  padding: 8px 16px;
  font-size: var(--font-body);

  &.lg {
    padding: 17px 40px;
    font-size: var(--font-h6);
  }

  &:hover {
    color: var(--text-color);
    box-shadow: var(--shadow-color) 0px 7px 0px 0px;
    transform: translateY(5px);
  }

  &:active {
    background-color: var(--bg-color);
    box-shadow: var(--shadow-color) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.primary {
    --bg-color: var(--accent-600);
    --shadow-color: var(--accent-800);
    --text-color: var(--neutral-100);
  }

  &.secondary {
    --bg-color: var(--neutral-200);
    --shadow-color: var(--neutral-600);
    --text-color: var(--neutral-800);
  }

  @at-root {
    a#{&} {
      text-decoration: none;
    }
  }
}

.text-body {
  font-weight: normal;
  font-size: var(--font-body);
}

.text-bold {
  font-weight: normal;
}

.text-caption {
  font-size: var(--font-caption);
}

.font-title {
  font-family: "Space Grotesk", sans-serif;
}

.font-body {
  font-family: "Rubik", sans-serif;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.fluid {
  display: flex;
  justify-content: center;

  & > * {
    max-width: 1980px;
  }
}

.wrapper {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.wrapper-xl {
  max-width: 1980px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.card {
  border: 1px solid var(--primary-100);
  border-radius: 0.5rem;
  corner-shape: squricle;
  padding: 1.5rem;
  background-color: var(--neutral-50);
  box-shadow: 0 6px 10px rgba(24, 24, 27, 0.08),
    0 12px 20px rgba(39, 39, 42, 0.05);
}

.badge {
  background-color: var(--accent-300);
  color: var(--neutral-900);
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  box-shadow: 1px 3px 3px rgba(255, 0, 108, 0.25),
    inset -1px -2px 3px rgba(255, 0, 108, 0.25);
}
