---
import { t, changeLanguage } from "i18next";
import { Image } from "astro:assets";
import { SITE_URL } from "@/consts";
import { BasePage } from "@/layouts";
import { SocialLinks } from "@/components";
import ileDeFrance from "@/assets/images/ile-de-france.svg";
import banner_picture from "@/assets/images/banner_picture.jpg";
import { getMe, generatePersonSchema } from "@/schema";
// @ts-ignore
import { localizePath } from "astro-i18next";

changeLanguage("en");

const a = (path: string) => t(`page.project.${path}`);
const me = await getMe();
const mySocials = me.socials;
---

<BasePage
  title={a("title")}
  description={a("description")}
  jsonLd={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    url: localizePath(`${SITE_URL}/about`),
    name: a("title"),
    description: a("description"),
    mainEntity: generatePersonSchema(me),
  }}
  class="fluid"
>
  <div class="bento">
    <section id="me" class="vertical">
      <Image loading="eager" src={banner_picture} alt="Photo de Ruchdane" />
      <p>
        <span>{t("common.i_am")}</span>
        <br />
        <h1>AMADOU Ruchdane Abiodun Adjao</h1>
      </p>
    </section>

    <section id="localisation" class="horizontal">
      <Image
        src={ileDeFrance}
        alt="Carte de la France avec l'ile de France en évidence"
      />
      <p>
        <span>{t("common.i_am_in")}</span>
        <br />
        <strong> île de france </strong>
      </p>
    </section>

    <section id="socials">
      <h2>{t("common.find_me_on")}</h2>
      <div>
        <SocialLinks {...mySocials} />
      </div>
    </section>
  </div>
</BasePage>

<style lang="scss">
  @use "~/media-query" as *;
  img {
    max-width: 200px;
    max-height: 200px;
  }

  .bento {
    margin-top: 2rem;
    margin-inline: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    @include breakpoint(tablet) {
      display: grid;
      gap: 3rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "me           localisation"
        "me           socials     ";
    }

    section {
      padding: 1rem;
      border: 1px solid var(--neutral-200);
      border-radius: 1rem;
      background-color: var(--primary-100);
      h2 {
        font-size: var(--font-h5);
        font-weight: normal;
        margin-bottom: 0.8rem;
      }

      .centered {
        display: flex;
        flex-direction: column;
        align-items: anchor-center;
      }

      .badge-marquee {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 8px;
        & > :global(*) {
          width: fit-content;
        }
      }
    }

    .horizontal,
    .vertical {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      text-align: center;
    }

    .vertical {
      flex-direction: column;
    }

    #me {
      column-span: 2;
      row-span: 2;
      grid-area: me;
    }

    #localisation {
      grid-area: localisation;
    }

    #education {
      grid-area: education;
    }

    #experience {
      grid-area: experience;
    }

    #project {
      grid-area: project;
      p {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }

    #socials {
      grid-area: socials;
    }

    #certification {
      grid-area: certification;
    }

    #technologies {
      grid-area: technologies;
    }

    #tools {
      grid-area: tools;
    }
  }
</style>
