---
const {href, highlightBg, class: className } = Astro.props
---
<a href={href} target="_blank" class={className}>
    <slot></slot>
</a>
<style define:vars={{highlightBg}}>
a {
    background-color: var(--neutral-100);
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: inset 0 -3px 0 -1px transparent;
    transition: box-shadow .5s ease-in;
    color: black;
    border-radius: 50%;
    width: fit-content;
}

a:hover {
  box-shadow: inset 0 -65px 0 -1px var(--highlightBg);
}
</style>