---
interface Props {
  key: string;
}

const { key } = Astro.props;
---

<a href={"#" + key} class="tab-link button secondary">
  <slot />
</a>

<style lang="scss">
  @use "../../styles/media-query" as *;

  a.tab-link {
    font-weight: 600;
    text-align: center;
    @include breakpoint(tablet) {
      width: 100%;
    }
  }
  a.active {
    box-shadow: var(--shadow-color) 0px 7px 0px 0px;
    transform: translateY(5px);
    background-color: var(--accent-600);
    color: var(--white);
    &:hover {
      color: var(--white);
    }
    &:active {
      color: var(--black);
    }
  }
</style>
