---
import {BasePage} from "@/layouts";
import { getCollection } from "astro:content";
import { HistoryElement } from "@/components";
const experienceList = await getCollection("experience");
const educationList = await getCollection("education");
const history = experienceList.concat(educationList).sort((a, b) => b.data.beginDate.getTime() - a.data.beginDate.getTime);
---

<BasePage
  title="A propos de moi"
  description="Lorem ipsum dolor sit amet"
>
  <p>
    Avec une solide expérience en développement full stack et en ingénierie
    DevOps au sein d'équipes agiles, j'ai travaillé sur des projets variés en
    assurant la conception, la mise en production et l'optimisation des
    solutions.
  </p>
  <p>
    Aujourd'hui, je souhaite mettre mes compétences techniques et ma
    compréhension des enjeux utilisateurs au service de la gestion de produit,
    pour contribuer à définir et réaliser des solutions innovantes et adaptées
    aux besoins des clients
  </p>
  <h3>Mon Parcours</h3>
  {history.map((data) => <HistoryElement {...data} />)}
</BasePage>
