---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import  ProjectCard from "@/components/ProjectCard.astro";
import GithubIconLink from "../components/IconLinks/GithubIconLink.astro";
import LinkedinIconLink from "../components/IconLinks/LinkedinIconLink.astro";
import MailIconLink from "../components/IconLinks/MailIconLink.astro";
import { getCollection } from 'astro:content';
const featuredProject = (await getCollection('project')).filter(({data: project}) => project.isFeatured);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="banner">
				<div class="banner-image">
					<img src="/images/banner_picture.png" alt="Photo de Ruchdane" />
					<GithubIconLink class="github-icon-link"/>
					<LinkedinIconLink class="linkedin-icon-link"/>
					<MailIconLink class="mail-icon-link"/>			
				</div>
				<div class="banner-text">
					<p> Salut, je suis AMADOU Ruchdane </p>
					<strong>Dévellopeur web full-stack</strong>
					<p>
						Avec une solide expérience en développement full stack et en ingénierie DevOps au sein d'équipes agiles, j'ai travaillé sur des projets variés en assurant la conception, la mise en production et l'optimisation des solutions.
					</p>
					<p> 
						Aujourd'hui, je souhaite mettre mes compétences techniques et ma compréhension des enjeux utilisateurs au service de la gestion de produit, pour contribuer à définir et réaliser des solutions innovantes et adaptées aux besoins des clients
					</p>
					<button class="primary"> Contacter moi </button>
				</div>
			</section>
			<section class="Project">
				<h2>Projets</h2>
				<div class="project-container">
					{featuredProject.map(data => <ProjectCard {...data}/>)}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style lang="scss" is:global>
	@use "../styles/media-query" as *;
	.banner {
		background-color: var(--primary-400);
		font-family: "JetBrainsMono", monospace;
		font-weight: 800;
		font-size: var(--font-h5);
		color: var(--neutral-50);
		
		padding: 32px;

		@include breakpoint(tablet) {
			display: flex;
			flex-direction: row-reverse;
			gap: 32px;
			justify-content: space-around
		}

		&-image {
			position: relative;
			padding: 80px;
			img {
				border: 1px solid var(--accent-800);
				border-radius: 100%;
			}
			.github-icon-link {
				position: absolute;
				bottom: 20%;
				left: 0;
				margin: 1rem;
			}
			.linkedin-icon-link {
				position: absolute;
				bottom: 0;
				right: 40%;
				margin: 1rem;
			}
			.mail-icon-link {
				position: absolute;
				bottom: 20%;
				right: 0;
				margin: 1rem;

			}
 
		}
		&-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			strong {
				color: var(--accent-800);
				font-size: var(--font-h4);
			}
			button {
				font-weight: 800;
				width: fit-content;
			}
		}
	}
</style>
