---
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  CORE_STACK,
  PLATFORME_MAP,
} from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from 'astro:assets';
import ProjectCard from "@/components/ProjectCard.astro";
import TechnologieBadge from "@/components/TechnologieBadge.astro";
import GithubIconLink from "../components/IconLinks/GithubIconLink.astro";
import LinkedinIconLink from "../components/IconLinks/LinkedinIconLink.astro";
import MailIconLink from "../components/IconLinks/MailIconLink.astro";
import { getCollection } from "astro:content";
import AnchorTabs from "@/components/AnchorTab/AnchorTabs.astro";
import TabTrigger from "@/components/AnchorTab/TabTrigger.astro";
import TabContent from "@/components/AnchorTab/TabContent.astro";
import HistoryElement from "@/components/HistoryElement.astro";
import { SquareArrowOutUpRight } from "lucide-astro";
const featuredProject = (await getCollection("project")).filter(
  ({ data: project }) => project.isFeatured
);
const experienceList = (await getCollection("experience")).sort(
  (a, b) => b.data.beginData - a.data.beginData
);

const educationList = (await getCollection("education")).sort(
  (a, b) => b.data.beginData - a.data.beginData
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="banner">
        <div class="banner-image">
          <Image src="/images/banner_picture.jpg" width={243} height={265} alt="Photo de Ruchdane" />
        </div>
        <div class="banner-content">
          
          <div class="banner-text">
            <p>
              <span class="text-body">Salut, je suis</span> AMADOU Ruchdane
            </br>
              <strong>Dévellopeur web full-stack</strong>
            </br>
            <span class="text-body">
              Passionné par l'innovation et la résolution de problèmes
              utilisateurs, 
              <!-- je souhaite désormais mettre mes compétences
              techniques au service de la gestion de produit pour créer des
              solutions adaptées et performantes. -->
            </span>
            </p>
          </div>
          <div class="banner-links">
            <GithubIconLink class="github-icon-link" />
            <LinkedinIconLink class="linkedin-icon-link" />
            <MailIconLink class="mail-icon-link" />
          </div>
        </div>
      </section>
      <section class="project">
        <div>
        <h2>
          <span> Projets</span>
          <a class="icon-button" href="/projects"><SquareArrowOutUpRight/></a>
        </h2>
        <p class="text-caption">Quelque Projets sur lequel j'ai travaillé</p>
        </div>
        <div class="project-container">
          {featuredProject.map((data) => <ProjectCard {...data} />)}
        </div>
      </section>
      <section class="tech-stack">
        <h2>Technologies</h2>
        <p class="text-caption">Mes technologie de prédilection</p>
        <div class="tech-stack-container">
          {
            Object.keys(CORE_STACK).map((key) => {
              const plateforme = PLATFORME_MAP[key];
              const stack = CORE_STACK[key];
              const Icon = plateforme?.icon;
              return (
                <div class="tech-stack-item">
                  <h3>
                    <Icon class="tech-icon" />
                    <span>{plateforme?.name}</span>
                  </h3>
                  <div class="tech-stack-container">
                    {stack.map((name) => (
                      <TechnologieBadge name={name} />
                    ))}
                  </div>
                </div>
              );
            })
          }
        </div>
      </section>
      <section class="history">
        <AnchorTabs>
          <div class="history-trigger">
            <TabTrigger key="experience">Expériences professionels</TabTrigger>
            <TabTrigger key="education">Parcours Scholaire</TabTrigger>
          </div>
          <div class="history-content">
            <TabContent key="experience">
              {experienceList.map((data) => <HistoryElement {...data} />)}
            </TabContent>
            <TabContent key="education">
              {educationList.map((data) => <HistoryElement {...data} />)}
            </TabContent>
          </div>
        </AnchorTabs>
      </section>
    </main>
    <Footer />
  </body>
</html>
<style lang="scss" is:global>
  @use "../styles/media-query" as *;
  section {
    padding: 2rem;
    @include breakpoint(tablet) {
      padding: 4rem;
    }
  }
  .banner {
    font-family: "JetBrainsMono", monospace;
    background-color: var(--primary-200);
    font-weight: 800;
    font-size: var(--font-h5);
    @include breakpoint(desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 38px;
    }
    &-content {
      @include breakpoint(desktop) {
        max-width: 500%;
      }
    }
    &-image {
      margin-inline: auto;
      width: fit-content;
      position: relative;
      padding: 80px;
      @include breakpoint(desktop) {
        order: 1;
      }
      img {
        @include breakpoint(desktop) {
          width: 75%;
        }
        border: 1px solid var(--accent-800);
        border-radius: 100%;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      strong {
        color: var(--accent-800);
        font-size: var(--font-h4);
      }
      button {
        font-weight: 800;
      }
    }
    &-links {
      display: flex;
      gap: 16px;
      margin-top: 16px;
    }
  }

  .project {
    &-header{
      h2 {
        font-size: var(--font-h3);
        font-weight: 800;
      }
      margin-bottom: 32px;
    }
    .project-container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      }
    }
  }

  .tech-stack {
    margin-block: 36px;
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 100%;
      text-align: center;
      margin-block: 18px;
      text-transform: capitalize;
      @include breakpoint(tablet) {
        width: fit-content;
        text-align: left;
      }
      @include breakpoint(desktop) {
        text-align: center;
      }
    }

    &-item {
      :nth-child(n + 6) {
        display: none;
      }
      @include breakpoint(tablet) {
        :nth-child(n + 6) {
          display: block;
        }
        width: 100%;
        margin: 36px 18px;
        display: flex;
        align-items: center;
        gap: 16px;
      }
      @include breakpoint(desktop) {
        flex-direction: column;
      }
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
      font-size: var(--font-h6);
      @include breakpoint(tablet) {
        width: 100%;
        justify-content: space-around;
      }
      @include breakpoint(desktop) {
        justify-content: center;
      }
    }
  }

  .history {
    max-width: 700px;
    margin-inline: auto;
    &-trigger {
      width: 100%;
      background: var(--neutral-400);
      padding: 9px;
      padding-bottom: 18px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }
</style>
