---
import GithubIconLink from "./IconLinks/GithubIconLink.astro";
import LinkedinIconLink from "./IconLinks/LinkedinIconLink.astro";
import MailIconLink from "./IconLinks/MailIconLink.astro";

const today = new Date();
---

<footer>
	<div class="social-links">
		<GithubIconLink />
		<LinkedinIconLink />
		<MailIconLink />
	</div>
	&copy; {today.getFullYear()} AMADOU Ruchdane. All rights reserved.
</footer>
<style>
	footer {
		margin-top: auto;
		background-color: var(--neutral-300);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
</style>
