---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style lang="scss" scoped>
  a {
    position: relative;
	color: var(--neutral-800);
    text-decoration: none;

    &:not(.active) {
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: var(--accent-600);
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &.active {
      font-weight: bolder;
      border-bottom: 2px solid var(--accent-800);
    }
  }
</style>
