---
import { SITE_LOGO, NAVIGATION_LINKS } from "@/consts";
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import Sidebar from "./Sidebar.astro";
import MorphingBurger from "./MorphingBurger.astro";
---

<header transition:name="main-header">
  <nav>
    <a href="/" class="navigation-icon" transition:name="main-logo">
      <Image
        src={SITE_LOGO}
        alt="<i>w<i>"
        layout="fixed"
        width="32"
        height="32"
        loading="eager"
      />
      <span> Ruchdane </span>
    </a>
    <div class="navigation-links">
      {
        NAVIGATION_LINKS.map(({ link, title }) => (
          <HeaderLink transition:name={`header-links-${title}`} href={link}>
            {title}
          </HeaderLink>
        ))
      }
    </div>
    <button
      class="icon-button"
      id="burger-trigger"
      aria-label="Sidebar trigger"
    >
      <MorphingBurger />
    </button>
    <Sidebar />
  </nav>
</header>
<style lang="scss">
  @use "../styles/media-query" as *;
  :global(main) {
    padding-block: var(--navbar-height) 1rem;
    @include breakpoint(tablet) {
      padding-block: var(--navbar-height) 3rem;
    }
  }
  header {
    position: fixed;
    z-index: var(--z-index-header);
    width: 100vw;
    margin: 0;
    background: var(--neutral-100);
    box-shadow:
      rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
    @include breakpoint(tablet) {
      padding: 32px 16px;
    }
  }

  .navigation-links {
    display: none;
    @include breakpoint(tablet) {
      display: flex;
      gap: 28px;
    }
  }

  .navigation-icon {
    display: flex;
    gap: 18px;
    font-size: var(--font-h6);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    align-items: center;
  }

  #burger-trigger {
    @include breakpoint(tablet) {
      display: none;
    }
  }
</style>
<script>
  const sidebar = document.getElementById("sidebar");
  const backdrop = document.getElementById("sidebar-backdrop");
  const trigger = document.getElementById("burger-trigger");
  const toggleSidebarVisibility = () => {
    sidebar?.classList.toggle("show");
    trigger?.firstElementChild?.classList.toggle("cross");
  };
  trigger?.addEventListener("click", toggleSidebarVisibility);
  backdrop?.addEventListener("click", toggleSidebarVisibility);
</script>
