---
interface Props {
  title: string;
  description: string;
}
import { BaseHead, Header, Footer } from "@/components";
import { slide } from "astro:transitions";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main transition:animate={slide()}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
