---
interface Props {
    title: string,
    description: string
}
import { BaseHead ,Header,Footer } from '@/components';

const {title, description} = Astro.props;
---
<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
